{% for ns in nginx_services_local | map(attribute='namespace') | unique | list %}
---
apiVersion: v1
kind: Secret
metadata:
  name: local-tls
  namespace: {{ ns }}
type: kubernetes.io/tls
data:
  tls.crt: {{ nginx_config_local_tls_crt.content }}
  tls.key: {{ nginx_config_local_tls_key.content }}
{% endfor %}
