{% set cert_b64 = lookup('file', 'origin.pem') | b64encode %}
{% set key_b64  = lookup('file', 'origin.key') | b64encode %}
{% set namespaces = (
  nginx_services       | map(attribute='namespace') | list +
  nginx_services_local | map(attribute='namespace') | list +
  nginx_config_extra_namespaces | default([])
) | unique | list %}
{% for ns in namespaces %}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-origin-tls
  namespace: {{ ns }}
type: kubernetes.io/tls
data:
  tls.crt: {{ cert_b64 }}
  tls.key: {{ key_b64 }}
{% endfor %}
