{% set cert_b64 = lookup('file', 'origin.pem') | b64encode %}
{% set key_b64 = lookup('file', 'origin.key') | b64encode %}
{% for ns in nginx_services | map(attribute='namespace') | unique | list %}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-origin-tls
  namespace: {{ ns }}
type: kubernetes.io/tls
data:
  tls.crt: {{ cert_b64 }}
  tls.key: {{ key_b64 }}
{% endfor %}
