server {
    listen 8181;
    server_name localhost;
    access_log off;

    location /status {
        stub_status;

        allow 192.168.1.0/24;
        allow 172.16.0.0/12;
        deny all;
    }
}



# HTTP → HTTPS redirect
{% for svc in nginx_services %}
server {
    listen 80;
    server_name {{ svc.name }}.darkestserver.com;
    return 301 https://$host$request_uri;
}
{% endfor %}


# HTTPS services (Cloudflare origin cert)
{% for svc in nginx_services %}
server {
    listen 443 ssl http2;
    server_name {{ svc.name }}.darkestserver.com;

    ssl_certificate     /etc/nginx/certs/origin.pem;
    ssl_certificate_key /etc/nginx/certs/origin.key;

    ssl_protocols TLSv1.2 TLSv1.3;

    access_log off;

    {% if svc.streaming | default(false) %}
    gzip off;
    {% endif %}

    location / {
        proxy_pass http://{{ svc.ip }}:{{ svc.port }};
        include snippets/proxy-common.conf;

        {% if svc.disable_buffering | default(false) %}
        proxy_request_buffering off;
        {% endif %}
    }
}
{% endfor %}

# HTTP-only local services
{% for svc in nginx_services_local %}
server {
    listen 80;
    server_name {{ svc.name }}.{{ svc.sub }}.lan;

    access_log off;

    {% if svc.streaming | default(false) %}
    gzip off;
    {% endif %}

    location / {
        proxy_pass http://{{ svc.ip }}:{{ svc.port }};
        include snippets/proxy-common.conf;

        {% if svc.disable_buffering | default(false) %}
        proxy_request_buffering off;
        {% endif %}
    }
}
{% endfor %}
