{% for svc in nginx_services %}
server {
    listen 80;
    server_name {{ svc.name }}.respawnxd.co;

    access_log off;

    location / {
        proxy_pass http://{{ svc.ip }}:{{ svc.port }};
        include snippets/proxy-common.conf;
    }
}
{% endfor %}