global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - '{{ prometheus_alertmanager_host }}:{{ prometheus_alertmanager_port }}'

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: "{{ job.name }}"
{% if job.scrape_interval is defined %}
    scrape_interval: {{ job.scrape_interval }}
{% endif %}
{% if job.scrape_timeout is defined %}
    scrape_timeout: {{ job.scrape_timeout }}
{% endif %}
    static_configs:
      - targets:
{% for target in job.targets %}
          - '{{ target }}'
{% endfor %}
{% if job.labels is defined %}
        labels:
{% for key, value in job.labels.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% if job.relabel_configs is defined %}
    relabel_configs:
{% for rule in job.relabel_configs %}
      - target_label: {{ rule.target_label }}
{% if rule.source_labels is defined %}
        source_labels: [{{ rule.source_labels | join(', ') }}]
        regex: '{{ rule.regex }}'
{% endif %}
        replacement: "{{ rule.replacement }}"
{% endfor %}
{% endif %}
{% endfor %}
