global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - '{{ prometheus_alertmanager_host }}:{{ prometheus_alertmanager_port }}'

scrape_configs:
{% for job in prometheus_scrape_jobs %}
  - job_name: "{{ job.name }}"
{% if job.scrape_interval is defined %}
    scrape_interval: {{ job.scrape_interval }}
{% endif %}
{% if job.scrape_timeout is defined %}
    scrape_timeout: {{ job.scrape_timeout }}
{% endif %}
{% if job.scheme is defined %}
    scheme: {{ job.scheme }}
{% endif %}
{% if job.metrics_path is defined %}
    metrics_path: {{ job.metrics_path }}
{% endif %}
{% if job.bearer_token_file is defined %}
    bearer_token_file: {{ job.bearer_token_file }}
{% endif %}
{% if job.tls_config is defined %}
    tls_config:
{% if job.tls_config.insecure_skip_verify is defined %}
      insecure_skip_verify: {{ job.tls_config.insecure_skip_verify | lower }}
{% endif %}
{% endif %}
{% if job.kubernetes_sd_configs is defined %}
    kubernetes_sd_configs:
{% for sd in job.kubernetes_sd_configs %}
      - role: {{ sd.role }}
{% if sd.api_server is defined %}
        api_server: "{{ sd.api_server }}"
{% endif %}
{% if sd.bearer_token_file is defined %}
        bearer_token_file: "{{ sd.bearer_token_file }}"
{% endif %}
{% if sd.api_server is defined or sd.bearer_token_file is defined %}
        tls_config:
          ca_file: "{{ sd.ca_file | default(omit) }}"
          insecure_skip_verify: {{ sd.insecure_skip_verify | default(true) | lower }}
{% endif %}
{% if sd.namespaces is defined %}
        namespaces:
          names:
{% for ns in sd.namespaces %}
            - {{ ns }}
{% endfor %}
{% endif %}
{% endfor %}
{% else %}
    static_configs:
      - targets:
{% for target in job.targets %}
          - '{{ target }}'
{% endfor %}
{% if job.labels is defined %}
        labels:
{% for key, value in job.labels.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
{% endif %}
{% if job.relabel_configs is defined %}
    relabel_configs:
{% for rule in job.relabel_configs %}
{% if rule.source_labels is defined %}
      - source_labels: [{{ rule.source_labels | join(', ') }}]
{% else %}
      -
{% endif %}
{% if rule.regex is defined %}
        regex: '{{ rule.regex }}'
{% endif %}
{% if rule.action is defined %}
        action: {{ rule.action }}
{% endif %}
{% if rule.target_label is defined %}
        target_label: {{ rule.target_label }}
{% endif %}
{% if rule.replacement is defined %}
        replacement: "{{ rule.replacement }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
