apiVersion: 1

datasources:
{% for ds in grafana_datasources %}
  - name: {{ ds.name }}
    type: {{ ds.type }}
    uid: {{ ds.name | lower }}
    url: {{ ds.url }}
    access: proxy
    isDefault: {{ ds.default | default(false) | lower }}
    editable: false
{% if ds.type == 'prometheus' %}
    jsonData:
      manageAlerts: false
{% elif ds.type == 'tempo' %}
    jsonData:
      tracesToMetrics:
        datasourceUid: prometheus
      serviceMap:
        datasourceUid: prometheus
{% endif %}
{% endfor %}
