theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id

access_control:
  default_policy: one_factor
  rules:
    - domain: "*.{{ authelia_domain }}"
      policy: one_factor

identity_validation:
  reset_password:
    enabled: false

session:
  name: authelia_session
  secret: /secrets/session_secret
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M
  cookies:
    - domain: "{{ authelia_domain }}"
      authelia_url: "https://{{ authelia_auth_subdomain }}"
      same_site: lax

storage:
  encryption_key: /secrets/storage_secret
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
