server:
  address: tcp://0.0.0.0:9091

session:
  cookies:
{% for ns in nginx_services_local | map(attribute='namespace') | unique | list %}
    - domain: {{ ns }}.lan
      authelia_url: https://auth.network.lan
      expiration: 3600
      inactivity: 300
{% endfor %}
    - domain: darkestserver.com
      authelia_url: https://auth.darkestserver.com
      expiration: 3600
      inactivity: 300

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain:
        - auth.network.lan
        - auth.darkestserver.com
      policy: bypass
{% for ns in nginx_services_local | map(attribute='namespace') | unique | list %}
    - domain: "*.{{ ns }}.lan"
      policy: one_factor
{% endfor %}
    - domain: "*.darkestserver.com"
      policy: two_factor

storage:
  local:
    path: /data/db.sqlite3

notifier:
  filesystem:
    filename: /data/notification.txt
