---
apiVersion: v1
kind: Secret
metadata:
  name: repo-creds-proxmoxinfra
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repo-creds
type: Opaque
stringData:
  url: git@github.com:Rami-hardware/ProxmoxInfra.git
  sshPrivateKey: |
    {{ k3s_apps_git_ssh_key | indent(4) }}
