---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-widgets-secret
  namespace: network
type: Opaque
stringData:
  HOMEPAGE_VAR_RADARR_KEY: "{{ lookup('env', 'RADARR_API_KEY') | default('', true) }}"
  HOMEPAGE_VAR_SONARR_KEY: "{{ lookup('env', 'SONARR_API_KEY') | default('', true) }}"
  HOMEPAGE_VAR_PROWLARR_KEY: "{{ lookup('env', 'PROWLARR_API_KEY') | default('', true) }}"
  HOMEPAGE_VAR_BAZARR_KEY: "{{ lookup('env', 'BAZARR_API_KEY') | default('', true) }}"
  HOMEPAGE_VAR_OVERSEERR_KEY: "{{ lookup('env', 'OVERSEERR_API_KEY') | default('', true) }}"
