---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: wazuh-agent
  namespace: security
  labels:
    app: wazuh-agent
spec:
  selector:
    matchLabels:
      app: wazuh-agent
  template:
    metadata:
      labels:
        app: wazuh-agent
    spec:
      hostNetwork: true
      hostPID: true
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule
      containers:
        - name: wazuh-agent
          image: wazuh/wazuh-agent:{{ wazuh_agent_version }}
          securityContext:
            privileged: true
          env:
            - name: WAZUH_MANAGER
              value: "{{ hostvars['security-server']['ansible_host'] }}"
            - name: WAZUH_AGENT_GROUP
              value: "k8s"
            - name: WAZUH_AGENT_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          volumeMounts:
            - name: var-log
              mountPath: /var/log
              readOnly: true
            - name: etc
              mountPath: /host/etc
              readOnly: true
            - name: proc
              mountPath: /host/proc
              readOnly: true
            - name: pods
              mountPath: /var/log/pods
              readOnly: true
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "300m"
      volumes:
        - name: var-log
          hostPath:
            path: /var/log
        - name: etc
          hostPath:
            path: /etc
        - name: proc
          hostPath:
            path: /proc
        - name: pods
          hostPath:
            path: /var/log/pods
