sonarr:
  url: "{{ scraparr_sonarr.url }}"
  api_key: "{{ scraparr_sonarr.api_key }}"
  api_version: "{{ scraparr_sonarr.api_version }}"

bazarr:
  url: "{{ scraparr_bazarr.url }}"
  api_key: "{{ scraparr_bazarr.api_key }}"
  api_version: "{{ scraparr_bazarr.api_version }}"

prowlarr:
  url: "{{ scraparr_prowlarr.url }}"
  api_key: "{{ scraparr_prowlarr.api_key }}"
  api_version: "{{ scraparr_prowlarr.api_version }}"

radarr:
  url: "{{ scraparr_radarr.url }}"
  api_key: "{{ scraparr_radarr.api_key }}"
  api_version: "{{ scraparr_radarr.api_version }}"

overseerr:
  url: "{{ scraparr_overseerr.url }}"
  api_key: "{{ scraparr_overseerr.api_key }}"
  api_version: "{{ scraparr_overseerr.api_version }}"
