sonarr:
  url: "{{ scraparr_sonarr.url }}"
  api_key: "{{ scraparr_sonarr_api_key }}"
  api_version: "{{ scraparr_sonarr.scraparr_api_version }}"

bazarr:
  url: "{{ scraparr_bazarr.url }}"
  api_key: "{{ scraparr_bazarr_api_key }}"
  api_version: "{{ scraparr_bazarr.scraparr_api_version }}"

prowlarr:
  url: "{{ scraparr_prowlarr.url }}"
  api_key: "{{ scraparr_prowlarr_api_key }}"
  api_version: "{{ scraparr_prowlarr.scraparr_api_version }}"

radarr:
  url: "{{ scraparr_radarr.url }}"
  api_key: "{{ scraparr_radarr_api_key }}"
  api_version: "{{ scraparr_radarr.scraparr_api_version }}"

overseerr:
  url: "{{ scraparr_overseerr.url }}"
  api_key: "{{ scraparr_overseerr_api_key }}"
  api_version: "{{ scraparr_overseerr.scraparr_api_version }}"
