name: setup-ansible

on:
  push:
    branches:
      - ansible
  pull_request:
    branches:
      - ansible


jobs:
  setup:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository --yes --update ppa:ansible/ansible
          sudo apt install -y ansible

      - name: Verify Ansible installation
        run: |
          ansible --version
